#wrap {
	overflow: hidden;
}
#header {
	width: 100%;
	height: 200px;
	overflow: hidden;
}
#header #nav-drawer {
	position: fixed;
	top: 23px;
	right: 23px; 
 	z-index: 2;
}
#header #nav-drawer .nav-unshown {
  	display:none;
}
#header #nav-drawer #nav-open {
  	display: inline-block;
  	width: 30px;
  	height: 22px;
  	vertical-align: middle;
}
#header #nav-drawer #nav-open span, #nav-open span:before, #nav-open span:after {
  	position: absolute;
  	height: 1px;
  	width: 25px;
  	border-radius: 3px;
  	background: #555;
  	display: block;
  	content: '';
  	cursor: pointer;
}
#header #nav-drawer #nav-open span:before {
  	bottom: -8px;
}
#header #nav-drawer #nav-open span:after {
  	bottom: -16px;
}
#header #nav-drawer #nav-close {
  	display: none;
  	position: fixed;
  	z-index: 99;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: black;
  	opacity: 0;
  	transition: .3s ease-in-out;
}
#header #nav-drawer #nav-content {
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 90%;
  	max-width: 180px;
  	height: 100%;
  	background: #fff;
  	transition: .3s ease-in-out;
  	-webkit-transform: translateX(-105%);
  	transform: translateX(-105%);
  	overflow: auto;
}
#header #nav-drawer #nav-content p a{
	display: inline-block;
	margin: 50px 0px 0px 15px;
	color: #000;
	font-size: 28px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
#header #nav-drawer #nav-input:checked ~ #nav-close {
  	display: block;
  	opacity: .5;
}
#header #nav-drawer #nav-input:checked ~ #nav-content {
  	-webkit-transform: translateX(0%);
  	transform: translateX(0%);
  	box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
#main {
	width: 100%;
}
#main .top-contaner {
	position: relative;
	width: 1100px;
	margin: 0px auto;
	z-index: 1;
}
#main .top-contaner h1 {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	color: #fff;
	font-size: 48px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	line-height: 1.1em;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
}
#main .top-contaner .top-img {
	width: 100%;
}
#works-contaner {
	width: 1100px;
	height: 371px;
	margin: 200px auto 0px;
}
#works-contaner h2 {
	margin: 0px 0px 60px;
	font-size: 58px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#works-contaner ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	background-color: #fff;
}
#works-contaner ul li {
	cursor: pointer;
	display: block;
	width: 23%;
	height: 266px;
	box-shadow: 10px 10px #eee;
	overflow: hidden;
}
#works-contaner ul li p {
	border: 1px solid #ebebeb;
	overflow: hidden;
}
#works-contaner ul li p img {
	display: block;
	width: 100%;
	height: 230px;
	transition-delay: 0.3s;
}
#works-contaner ul li p img:hover {
	transform: scale(1.1);
	transition-delay: 0.3s;
}
#works-contaner ul li h3 {
	margin-top: 6px;
	color: #7d7c7c;
	font-size: 11px;
	text-align: left;
}
#profile-contaner {
	width: 1100px;
	height: 334px;
	margin: 150px auto 30px;
}
#profile-contaner  h2 {
	margin: 0px 0px 60px;
	font-size: 58px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#profile-contaner .contaner-left  {
	float: left;
	width: 50%;
	text-align: center;
}
#profile-contaner .contaner-left .profile-img {
	width: 40%;
}
#profile-contaner .contaner-right {
	float: left;
	width: 50%;
	padding-top: 52px;
}
#profile-contaner .contaner-right h3 {
	margin: 0px 0px 20px 0px;
	color: #636363;
	font-size: 18px;
	text-align: center;
}
#profile-contaner .contaner-right .name-eng {
	margin-left: 27px;
	font-size: 16px;
	text-align: center;
}
#profile-contaner .contaner-right p {
	display: block;
	line-height: 2em;
	color: #7d7c7c;
	font-size: 14px;
	text-align: center;
}
#profile-contaner .contaner-right p span {
	margin: 5px 0px 5px 0px;
}
#skill-contaner {
	width: 1100px;
	height: 414px;
	margin: 150px auto 0px;
}
#skill-contaner  h2 {
	margin: 0px 0px 60px;
	font-size: 58px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#skill-contaner ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}
#skill-contaner ul li {
	position: relative;
	width: 25%;
	height: 80px;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 40px;
	border: 1px solid #7d7c7c; 
	box-shadow: 7px 7px #eee;
}
#skill-contaner ul li h3 {
	position: absolute;
	color: #000;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translateX(-50%) translateY(-50%);
  	transform: translateX(-50%) translateY(-50%);
}
#skill-contaner ul li img {
	width: 55%;
}
#footer {
	width: 100%;
	height: 20px;
	margin-top: 60px;
}
#footer p{
	display: block;
	font-size: 13px;
	text-align: center;
}

@media screen and (max-width:480px) {
	#header {
		width: 100%;
		height: 40px;
		overflow: hidden;
	}
	#header #nav-drawer {
	  	position: fixed;
	  	top: 23px;
	  	right: 23px; 
	}
	#header #nav-drawer .nav-unshown {
	  	display:none;
	}
	#header #nav-drawer #nav-open {
	  	display: inline-block;
	  	width: 30px;
	  	height: 22px;
	  	vertical-align: middle;
	}
	#header #nav-drawer #nav-open span, #nav-open span:before, #nav-open span:after {
	  	position: absolute;
	  	height: 1px;
	  	width: 25px;
	  	border-radius: 3px;
	  	background: #555;
	  	display: block;
	  	content: '';
	  	cursor: pointer;
	}
	#header #nav-drawer #nav-open span:before {
	  	bottom: -8px;
	}
	#header #nav-drawer #nav-open span:after {
	  	bottom: -16px;
	}
	#header #nav-drawer #nav-close {
	  	display: none;
	  	position: fixed;
	  	z-index: 99;
	  	top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	background: black;
	  	opacity: 0;
	  	transition: .3s ease-in-out;
	}
	#header #nav-drawer #nav-content {
	  	overflow: auto;
	  	position: fixed;
	  	top: 0;
	  	left: 0;
	  	z-index: 9999;
	  	width: 90%;
	  	max-width: 100px;
	  	height: 100%;
	  	background: #fff;
	  	transition: .3s ease-in-out;
	  	-webkit-transform: translateX(-105%);
	  	transform: translateX(-105%);
	}
	#header #nav-drawer #nav-content p a{
		display: inline-block;
		margin: 30px 0px 0px 8px;
		color: #000;
		font-size: 28px;
		font-family: 'Lato', sans-serif;
		text-decoration: none;
	}
	#header #nav-drawer #nav-input:checked ~ #nav-close {
	  	display: block;
	  	opacity: .5;
	}
	#header #nav-drawer #nav-input:checked ~ #nav-content {
	  	-webkit-transform: translateX(0%);
	  	transform: translateX(0%);
	  	box-shadow: 6px 0 25px rgba(0,0,0,.15);
	}
	#main {
		width: 100%;
	}
	#main .top-contaner {
		position: relative;
		width: 80%;
		margin: 0px auto; 
	}
	#main .top-contaner h1 {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: auto;
		font-size: 18px;
		font-family: 'Lato', sans-serif;
		text-align: center;
		line-height: 1.1em;
		transform: translateY(-50%) translateX(-50%);
		-webkit- transform: translateY(-50%) translateX(-50%);
	}
	#main .top-contaner .top-img {
		width: 100%;
	}
	#works-contaner {
		width: 80%;
		margin: 40px auto 0px;
	}
	#works-contaner h2 {
		margin: 0px 0px 26px;
		font-size: 29px;
		font-family: 'Lato', sans-serif;
		text-align: center;
	}
	#works-contaner ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		height: 306px;
		background-color: #fff;
	}
	#works-contaner ul li {
		cursor: pointer;
		display: block;
		width: 47%;
		height: 145px;
		margin-bottom: 18px;
		box-shadow: 6px 6px #eee;
		overflow: hidden;
	}
	#works-contaner ul li p {
		border: 1px solid #ebebeb;
		overflow: hidden;
	}
	#works-contaner ul li p img {
		display: block;
		width: 100%;
		height: 129px;
		transition-delay: 0.3s;
	}
	#works-contaner ul li p img:hover {
		transform: scale(1.1);
		transition-delay: 0.3s;
	}
	#works-contaner ul li h3 {
		margin-top: 6px;
		color: #7d7c7c;
		font-size: 8px;
		text-align: left;
	}
	#profile-contaner {
		width: 80%;
		height: 327px;
		margin: 40px auto 0px;
	}
	#profile-contaner  h2 {
		margin: 0px 0px 26px;
		font-size: 29px;
		font-family: 'Lato', sans-serif;
		text-align: center;
	}
	#profile-contaner .contaner-left  {
		float: none;
		width: 100%;
		text-align: center;
	}
	#profile-contaner .contaner-left .profile-img {
		width: 50%;
		height: 50%;
	}
	#profile-contaner .contaner-right {
		float: none;
		width: 100%;
		padding-top: 39px;
	}
	#profile-contaner .contaner-right h3 {
		margin: 0px 0px 10px 0px;
		color: #636363;
		font-size: 15px;
		text-align: center;
	}
	#profile-contaner .contaner-right .name-eng {
		margin-left: 14px;
		font-size: 17px;
		text-align: center;
	}
	#profile-contaner .contaner-right p {
		display: block;
		line-height: 3em;
		color: #7d7c7c;
		font-size: 8px;
		text-align: center;
	}
	#profile-contaner .contaner-right p span {
		margin: 5px 0px 5px 0px;
	}
	#skill-contaner {
		width: 80%;
		height: 366px;
		margin: 40px auto 0px;
	}
	#skill-contaner  h2 {
		margin: 0px 0px 26px;
		font-size: 29px;
		font-family: 'Lato', sans-serif;
		text-align: center;
	}
	#skill-contaner ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		height: 295px;
	}
	#skill-contaner ul li {
		position: relative;
		width: 25%;
		height: 77px;
		margin-bottom: 29px;
		text-align: center;
		border-radius: 20px;
		border: 1px solid #7d7c7c; 
		box-shadow: 6px 6px #eee;
	}
	#skill-contaner ul li h3 {
		position: absolute;
		color: #000;
		font-size: 13px;
	  	top: 50%;
	  	left: 50%;
	  	-webkit-transform: translateX(-50%) translateY(-50%);
	  	transform: translateX(-50%) translateY(-50%);
	}
	#skill-contaner ul li img {
		width: 55%;
	}
	#footer {
		width: 100%;
		height: 8px;
		margin-top: 50px;
	}
	#footer p{
		display: block;
		font-size: 4px;
		text-align: center;
	}
}
