* {
 	box-sizing: border-box;
}
body {
	background-color: #deb887;
}
#header {
	position: relative;
	width: 100%;
	height: 60px;
	overflow: hidden;
}
#header #nav-drawer {
	position: fixed;
	top: 30px;
	right: 30px; 
 	z-index: 2;
}
#header #nav-drawer .nav-unshown {
  	display:none;
}
#header #nav-drawer #nav-open {
  	display: inline-block;
  	width: 35px;
  	height: 22px;
  	vertical-align: middle;
}
#header #nav-drawer #nav-open span, #nav-open span:before, #nav-open span:after {
  	position: absolute;
  	width: 30px;
  	height: 1px;
  	border-radius: 3px;
  	background: #fff;
  	display: block;
  	content: '';
  	cursor: pointer;
}
#header #nav-drawer #nav-open span:before {
  	bottom: -8px;
}
#header #nav-drawer #nav-open span:after {
  	bottom: -16px;
}
#header #nav-drawer #nav-close {
  	display: none;
  	position: fixed;
  	z-index: 99;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: black;
  	opacity: 0;
  	transition: .3s ease-in-out;
}
#header #nav-drawer #nav-content {
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 13%;
  	height: 100%;
  	background: #fff;
  	transition: .3s ease-in-out;
  	-webkit-transform: translateX(-105%);
  	transform: translateX(-105%);
  	overflow: auto;
}
#header #nav-drawer #nav-content p a{
	display: inline-block;
	margin: 50px 0px 0px 18px;
	color: #000;
	font-size: 35px;
	font-family: 'Montserrat';
	text-decoration: none;
}
#header #nav-drawer #nav-input:checked ~ #nav-close {
  	display: block;
  	opacity: .5;
}
#header #nav-drawer #nav-input:checked ~ #nav-content {
  	-webkit-transform: translateX(0%);
  	transform: translateX(0%);
  	box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.main {
	width: 100%;
	margin: 50px 0px 50px;
	overflow: hidden;
}
.scrol {
	width: 80%;
	margin: 0px auto;
}
.scrol_inner {
	width: 100%;
}
.scrol_inner h1 {
	margin-bottom: 70px;
	color: #fff;
	font-size: 58px;
	font-family: 'Franklin Gothic Medium','Arial Unicode MS','Arial',sans-serif;
	font-weight: lighter;
}
.desktop {
	display: block;
	width: 40%;
	margin: 0px auto;
}
.full_img {
	display: block;
	width: 65%;
	margin: 90px auto 0px;
}
.scrol_inner h2 {
	width: 65%;
	margin: 60px auto 0px;
	font-size: 22px;
	text-align: left;
}
.scrol_inner dl {
	width: 65%;
	margin: 10px auto 45px;
	text-align: center;
}
.scrol_inner dl dt {
	display: block;
	width: 100%;
	margin: 20px 0px 5px;
	font-size: 18px;
	font-family: YuGothic,'Yu Gothic',sans-serif;
	text-align: left;
	line-height: 1.5em;
}
.scrol_inner dl dd {
	display: block;
	width: 100%;
	font-size: 15px;
	font-family: YuGothic,'Yu Gothic',sans-serif;
	text-align: left;
	line-height: 1.5em;
}
.scrol_inner dl dd .page-detail {
	display: block;
	width: 100%;
	font-size: 17px;
	font-family: YuGothic,'Yu Gothic',sans-serif;
}
.scrol_inner dl p {
	display: block;
	width: 100%; 
	margin-top: 20px;
	font-size: 15px;
	text-align: left;
}
.scrol_inner dl p a {
	display: inline-block;
	font-size: 15px;
	text-decoration: none;
}
#footer {
	width: 100%;
	height: 20px;
}
#footer p{
	display: block;
	font-size: 13px;
	text-align: center;
}
@media screen and (max-width:480px) {
	#header {
		position: relative;
		width: 100%;
		height: 60px;
		overflow: hidden;
	}
	#header #nav-drawer {
	  	position: fixed;
	  	top: 23px;
	  	right: 23px; 
	}
	#header #nav-drawer .nav-unshown {
	 	display:none;
	}
	#header #nav-drawer #nav-open {
	  	display: inline-block;
	  	width: 30px;
	  	height: 22px;
	  	vertical-align: middle;
	}
	#header #nav-drawer #nav-open span, #nav-open span:before, #nav-open span:after {
	  	position: absolute;
	  	height: 1px;
	  	width: 25px;
	  	border-radius: 3px;
	  	background: #fff;
	  	display: block;
	  	content: '';
	  	cursor: pointer;
	}
	#header #nav-drawer #nav-open span:before {
	  	bottom: -8px;
	}
	#header #nav-drawer #nav-open span:after {
	  	bottom: -16px;
	}
	#header #nav-drawer #nav-close {
	 	display: none;
	  	position: fixed;
	  	z-index: 99;
	  	top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	background: black;
	  	opacity: 0;
	  	transition: .3s ease-in-out;
	}
	#header #nav-drawer #nav-content {
	  	overflow: auto;
	  	position: fixed;
	  	top: 0;
	  	left: 0;
	  	z-index: 9999;
	  	width: 90%;
	  	max-width: 150px;
	  	height: 100%;
	  	background: #fff;
	  	transition: .3s ease-in-out;
	  	-webkit-transform: translateX(-105%);
	  	transform: translateX(-105%);
	}
	#header #nav-drawer #nav-content p a{
		display: inline-block;
		margin: 30px 0px 0px 8px;
		color: #000;
		font-size: 28px;
		font-family: 'Montserrat';
		text-decoration: none;
	}
	#header #nav-drawer #nav-input:checked ~ #nav-close {
	 	display: block;
	  	opacity: .5;
	}
	#header #nav-drawer #nav-input:checked ~ #nav-content {
	  	-webkit-transform: translateX(0%);
	  	transform: translateX(0%);
	  	box-shadow: 6px 0 25px rgba(0,0,0,.15);
	}
	.main {
		width: 100%;
		margin: 50px 0px 50px;
		overflow: hidden;
	}
	.scrol {
		width: 90%;
		margin: 0px auto;
	}
	.scrol_inner {
		width: 100%;
	}
	.scrol_inner h1 {
		margin-bottom: 70px;
		font-size: 40px;
		font-family: 'Franklin Gothic Medium','Arial Unicode MS','Arial',sans-serif;
	}
	.desktop {
		display: block;
		width: 80%;
		margin: 0px auto;
	}
	.full_img {
		display: block;
		width: 90%;
		margin: 90px auto 0px;
	}
	.scrol_inner dl {
		width: 90%;
		margin: 10px auto 0px;
		text-align: center;
	}
	.scrol_inner h2 {
		width: 90%;
		margin: 80px auto 0px;
		font-size: 20px;
		text-align: left;
	}
	.scrol_inner dl dt {
		display: block;
		width: 100%;
		margin: 20px 0px 0px;
		font-size: 17px;
		font-family: YuGothic,'Yu Gothic',sans-serif;
		text-align: left;
		line-height: 1.5em;
	}
	.scrol_inner dl dd {
		display: block;
		width: 100%;
		margin-top: 5px;
		font-size: 15px;
		font-family: YuGothic,'Yu Gothic',sans-serif;
		text-align: left;
		line-height: 1.5em;
	}
	.scrol_inner dl dd .css-br::before {
	  content: "\A" ;
	  white-space: pre;
	}
	.scrol_inner dl p a {
		display: inline-block;
		width: 90%;
		float: left;
		font-size: 10px;
		text-decoration: none;
	}
	#footer {
		width: 100%;
		height: 20px;
	}
	#footer p{
		display: block;
		font-size: 7px;
		text-align: center;
	}
}